@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url(../fonts/opensansbold.woff2) format("woff2"), url(../fonts/opensansbold.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url(../fonts/opensans.woff2) format("woff2"), url(../fonts/opensans.woff) format("woff"); }

body {
  font-family: 'Open Sans';
  font-weight: 400; }

img {
  max-width: 100%;
  height: auto; }

.container {
  padding: 0 30px;
  width: 260px;
  margin: 0 auto; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

@media (min-width: 768px) {
  .container {
    width: 668px;
    padding: 0 50px; }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .nav__logo {
    width: 300px; }
  .nav__user-nav {
    width: 300px; } }

@media (min-width: 1150px) {
  .container {
    width: 1050px;
    padding: 0 50px; } }

.about-us {
  padding: 32px 0 0;
  margin-bottom: 32px;
  outline: 1px solid gray; }

.about-us__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 28px; }

.about-us__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0; }

.about-us__item {
  width: 260px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  padding-top: 57px; }

@media (min-width: 768px) {
  .about-us {
    margin-bottom: 80px; }
  .about-us__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 0; }
  .about-us__advantages {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 668px; }
  .about-us__item {
    width: 330px;
    font-size: 20px;
    line-height: 22px;
    margin-top: 40px; } }

@media (min-width: 1150px) {
  .about-us {
    width: 700px;
    padding: 0 175px; }
  .about-us__advantages {
    width: 700px; }
  .about-us__item {
    width: 350px; }
  .about-us__title {
    font-size: 53px;
    line-height: 57px; } }

.button {
  background-color: #fff;
  border: 2px solid black;
  padding: 15px 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  width: 100%; }

.catalog-menu__link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 260px;
  margin: 0 auto;
  padding-right: 115px;
  color: #fff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none; }

.catalog-menu__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.catalog-menu__item {
  padding: 35px 30px; }

.catalog-menu__item--interior {
  background-color: #63d1bb; }

.catalog-menu__item--toys {
  background-color: #56c3b2; }

@media (min-width: 768px) {
  .catalog-menu {
    margin-top: -110px; }
  .catalog-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .catalog-menu__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 334px;
    padding-left: 35px; }
  .catalog-menu__link {
    display: block;
    margin: 0;
    width: 140px;
    font-size: 20px;
    line-height: 30px; } }

@media (min-width: 1150px) {
  .catalog-menu__item {
    width: 525px; } }

.catalog {
  margin: 30px 0;
  outline: 1px solid gray; }

.catalog__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.catalog__item-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px; }

.catalog__item-description {
  font-size: 13px;
  line-height: 30px; }

.catalog__item-price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px; }

@media (min-width: 768px) {
  .catalog__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .catalog__item-title {
    font-size: 20px;
    line-height: 24px; }
  .catalog__item-description {
    font-size: 15px; }
  .catalog__item-price {
    font-size: 17px; } }

@media (min-width: 1150px) {
  .catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -51px; }
  .catalog__item {
    width: 315px;
    margin-left: 52px; } }

.contacts {
  width: 100%;
  position: relative;
  padding: 42px 0;
  outline: 1px solid gray; }

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 32px;
  text-align: left; }

.contacts__contact {
  width: 60px;
  font-size: 15px;
  line-height: 30px;
  vertical-align: top; }

.contacts__table {
  border-collapse: collapse; }

.contacts__value {
  width: 160px;
  font-size: 15px;
  line-height: 30px;
  padding-bottom: 32px; }

.contacts__link {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid #63d1bb; }

.contacts__map {
  display: block;
  margin: 0 auto 42px; }

.contacts__button {
  display: block;
  width: 260px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .contacts__table-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .contacts__title {
    font-size: 43px;
    line-height: 50px; }
  .contacts__value {
    padding-right: 50px;
    font-size: 17px; }
  .contacts__contact {
    font-size: 17px; } }

@media (min-width: 1150px) {
  .contacts {
    padding-left: 175px; }
  .contacts__map {
    position: relative; }
  .contacts__table-body {
    width: 350px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.copyright {
  padding: 28px 0;
  padding-right: 30px; }

.copyright__text {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px; }

.featured {
  margin: 32px 0;
  outline: 1px solid gray; }

.featured__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 10px; }

.featured__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.featured__order-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.featured__item-type {
  display: inline-block;
  text-transform: uppercase;
  color: #63d1bb;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 25px; }

.featured__description {
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px; }

.featured__details {
  border-collapse: collapse;
  margin-bottom: 30px; }

.featured__feature {
  padding: 10px 0;
  border-bottom: 1px solid #f1f1f1;
  font-size: 15px;
  line-height: 20px; }

.featured__photo {
  margin-bottom: 26px; }

.featured__value {
  font-size: 15px;
  border-bottom: 1px solid #f1f1f1;
  line-height: 20px; }

.featured__price {
  width: 100%;
  margin: 0;
  margin-bottom: 26px;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px; }

@media (min-width: 768px) {
  .featured {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .featured__title {
    display: inline-block;
    width: 500px;
    font-size: 43px;
    line-height: 50px; }
  .featured__item-type {
    width: 125px;
    text-align: center;
    line-height: 17px; }
  .featured__item-info {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 668px;
    padding-right: 378px;
    min-height: 410px; }
  .featured__description {
    font-size: 17px;
    line-height: 30px; }
  .featured__details {
    margin-bottom: 57px; }
  .featured__feature {
    width: 90px;
    margin: 0; }
  .featured__photo {
    position: absolute;
    right: 0;
    top: 0;
    width: 334px;
    height: auto; } }

@media (min-width: 1150px) {
  .featured {
    position: relative;
    padding-left: 175px;
    padding-top: 130px; }
  .featured__item-type {
    position: absolute;
    left: 0;
    top: 130px; }
  .featured__title {
    font-size: 53px;
    line-height: 57px; }
  .featured__price {
    font-size: 20px; } }

.intro {
  background-color: #f1f1f1; }

.intro--img {
  background-color: #fafafa;
  background-image: url(../img/hero-mobile@1x.jpg);
  background-position: center 10px;
  background-repeat: no-repeat; }

.intro__title {
  font-family: "Open Sans";
  margin: 0;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  padding: 75px 30px;
  text-align: center; }

@media (min-width: 768px) {
  .intro {
    margin-top: -68px;
    padding: 115px 30px 0;
    text-align: center; }
  .intro__title {
    font-size: 43px;
    line-height: 50px; }
  .intro--img {
    min-height: 630px;
    background-image: url(../img/hero-tablet@1x.jpg); } }

@media (min-width: 1150px) {
  .intro--img {
    background-image: url(../img/hero-desktop@1x.jpg); }
  .intro__title {
    font-size: 53px;
    line-height: 57px; } }

.menu {
  list-style: none;
  padding: 0;
  margin: 0; }

.menu__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 17px;
  line-height: 24px; }

@media (min-width: 768px) {
  .menu__item {
    font-size: 15px;
    line-height: 24px; }
  .nav__menu {
    width: 335px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 1150px) {
  .menu__item {
    font-size: 17px; }
  .menu {
    width: 400px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.nav__link {
  text-align: center;
  display: block;
  padding: 27px 0;
  text-decoration: none;
  font-weight: 700;
  color: #000; }

.nav__logo {
  display: block;
  padding: 20px 0;
  text-align: center; }

.nav__delivery {
  font-size: 15px;
  line-height: 24px;
  display: none; }

.nav__options-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none; }

@media (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .nav__logo {
    width: 167px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: left; }
  .nav__search {
    margin-left: auto; }
  .nav__menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .nav__link {
    padding: 20px 0;
    text-align: left; }
  .nav__delivery {
    display: block;
    text-align: right;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 240px;
    padding: 20px 0; } }

@media (min-width: 1150px) {
  .nav__menu {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .nav__logo {
    width: 190px;
    text-align: center; }
  .nav__link {
    text-align: left; }
  .nav__options-menu {
    width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .nav__options-item {
    margin-right: 40px; }
  .nav__options-link {
    font-size: 15px;
    line-height: 24px; } }

.order-form {
  outline: 1px solid gray;
  padding: 30px 0 56px;
  position: relative; }

.order-form__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: auto;
  margin: 0 auto;
  padding: 30px 30px 0; }

.order-form__wrapper--gray {
  background-color: transparent; }

.order-form__description {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px; }

.order-form__fieldset {
  padding: 22px 0 0;
  margin: 0; }

.order-form__legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase; }

.order-form__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px; }

.order-form__text-input::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #444444; }

.order-form__text-input::-ms-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #444444; }

.order-form__text-input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #444444; }

.order-form__phone-input::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #444444; }

.order-form__phone-input::-ms-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #444444; }

.order-form__phone-input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #444444; }

.order-form__email-input::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #444444; }

.order-form__email-input::-ms-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #444444; }

.order-form__email-input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #444444; }

.order-form__text-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%; }

.order-form__phone-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%; }

.order-form__email-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%; }

.order-form__add-info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%; }

.order-form__field--name {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.order-form__disclaimer {
  position: absolute;
  width: 260px;
  left: 30px;
  font-size: 14px;
  line-height: 16px; }

.order-form__button {
  display: block;
  width: 260px;
  margin: 50px auto 0;
  line-height: 16px; }

@media (min-width: 768px) {
  .order-form__fieldset {
    position: relative;
    padding-left: 167px; }
  .order-form__legend {
    position: absolute;
    left: 0;
    top: 30px; }
  .order-form__description {
    font-size: 17px;
    line-height: 30px; }
  .order-form__wrapper {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: auto;
    padding: 50px 50px; }
  .order-form__label {
    font-size: 19px; }
  .order-form__text-input::-webkit-input-placeholder {
    font-size: 19px; }
  .order-form__text-input::-ms-input-placeholder {
    font-size: 19px; }
  .order-form__text-input::placeholder {
    font-size: 19px; }
  .order-form__phone-input::-webkit-input-placeholder {
    font-size: 19px; }
  .order-form__phone-input::-ms-input-placeholder {
    font-size: 19px; }
  .order-form__phone-input::placeholder {
    font-size: 19px; }
  .order-form__email-input::-webkit-input-placeholder {
    font-size: 19px; }
  .order-form__email-input::-ms-input-placeholder {
    font-size: 19px; }
  .order-form__email-input::placeholder {
    font-size: 19px; }
  .order-form__wrapper--gray {
    background-color: #f1f1f1; }
  .order-form__fieldset--color .order-form__fieldset-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .order-form__fieldset--color .order-form__field {
    width: 248px; }
  .order-form__button {
    padding-left: 30px;
    padding-right: 30px;
    width: 230px;
    margin: 0 50px; }
  .order-form__disclaimer {
    font-size: 17px;
    margin: 0;
    line-height: 30px;
    width: 334px;
    text-align: left;
    left: 350px; } }

@media (min-width: 1150px) {
  .order-form__wrapper {
    width: auto; } }

.page-footer {
  background-color: #f1f1f1; }

.page-footer__logo {
  display: none; }

@media (min-width: 768px) {
  .page-footer__logo {
    display: block; }
  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media (min-width: 768px) {
  .page-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.production {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 28px 0 52px;
  outline: 1px solid gray; }

.production__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px; }

.production__description {
  font-size: 13px;
  line-height: 24px; }

.production__button {
  line-height: 16px; }

@media (min-width: 768px) {
  .production__video {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .production__title {
    font-size: 20px; }
  .production__description {
    font-size: 15px;
    line-height: 30px; } }

@media (min-width: 1150px) {
  .production__video {
    position: absolute; }
  .production__title {
    padding-left: 700px;
    width: 350px; }
  .production__description {
    width: 350px;
    padding-left: 700px; }
  .production__button {
    width: 300px;
    margin-left: 700px; } }

.reviews {
  padding: 30px 0 0;
  margin-bottom: 48px;
  outline: 1px solid gray; }

.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 30px; }

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.reviews__review {
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 30px; }

.reviews__item {
  margin: 0; }

.reviews__author-name {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
  margin-bottom: 12px; }

.reviews__author-twitter {
  font-size: 17px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 30px; }

.reviews__button {
  font-size: 18px; }

@media (min-width: 768px) {
  .reviews {
    position: relative;
    padding-bottom: 60px; }
  .reviews__title {
    font-size: 43px;
    line-height: 50px; }
  .reviews__button {
    position: absolute;
    width: auto;
    padding: 15px 30px;
    right: 0;
    top: 25px;
    font-size: 17px; }
  .reviews__review {
    font-size: 17px; }
  .reviews__author-name {
    font-size: 18px;
    margin-bottom: 0; }
  .reviews__toggles {
    position: absolute;
    right: 0;
    bottom: 110px; } }

@media (min-width: 1150px) {
  .reviews {
    padding-left: 175px; }
  .reviews__title {
    font-size: 53px;
    line-height: 57px; }
  .reviews__author-name {
    font-size: 17px; } }

@media (min-width: 768px) {
  .search__link-text {
    display: none; }
  .search__link {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 85px;
    height: 100%; } }

.slider__toggles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slider__prev {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%; }

.slider__next {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%; }

.social {
  list-style: none;
  margin: 0;
  padding: 25px 0;
  border-bottom: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.social__link {
  text-decoration: none;
  color: #000; }

.user-nav {
  margin: 0;
  padding: 5px 0;
  list-style: none; }

.user-nav__item {
  font-size: 17px;
  line-height: 24px; }

@media (min-width: 768px) {
  .user-nav__link {
    text-align: right; }
  .user-nav {
    width: 263px; } }
