@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/opensansbold.woff2) format("woff2"), url(../fonts/opensansbold.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/opensans.woff2) format("woff2"), url(../fonts/opensans.woff) format("woff"); }

body {
  font-family: 'Open Sans';
  font-weight: 400;
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

.container {
  padding: 0 30px;
  width: 260px;
  margin: 0 auto; }

.modal-overlay {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  left: 0;
  top: 0;
  z-index: 5; }

.modal-overlay--show {
  display: block; }

@media (max-width: 767px) {
  .mobile-menu {
    display: none; }
  .mobile-menu--opened {
    display: block; } }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

@media (min-width: 768px) {
  .container {
    width: 668px;
    padding: 0 50px; }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .nav__logo {
    width: 300px; }
  .nav__user-nav {
    width: 300px; } }

@media (min-width: 1150px) {
  .container {
    width: 1050px;
    padding: 0 50px; } }

.about-us {
  position: relative;
  padding: 37px 0 0;
  margin: 0 auto;
  margin-bottom: 32px; }
  .about-us::before {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 7px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: auto 7px; }

.about-us__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 15px; }

.about-us__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0; }

.about-us__item {
  position: relative;
  width: 260px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  padding-top: 70px;
  margin-bottom: 13px; }

.about-us__icon {
  position: absolute;
  top: 17px;
  left: 7px; }

.about-us__icon--money {
  left: 0; }

.about-us__icon--heart {
  top: 21px; }

.about-us__icon--ball {
  left: 3px;
  top: 19px; }

.about-us__icon--rocket {
  left: -8px;
  top: 19px; }

.about-us__icon--gift {
  left: 2px;
  top: 18px; }

@media (min-width: 768px) {
  .about-us {
    padding-top: 65px;
    margin-bottom: 40px; }
    .about-us::before {
      content: "";
      position: absolute;
      top: -5px;
      display: block;
      width: 100%;
      height: 20px;
      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: repeat-x;
      background-size: auto 20px; }
  .about-us__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 33px;
    margin-left: -5px; }
  .about-us__advantages {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 668px; }
  .about-us__item {
    width: 330px;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 41px; }
  .about-us__icon--rocket {
    left: 0; } }

@media (min-width: 1150px) {
  .about-us {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1050px;
    padding: 37px 175px 0 123px;
    margin-bottom: 50px; }
    .about-us::before {
      content: "";
      position: absolute;
      top: -40px;
      right: 0;
      display: block;
      width: 100%;
      height: 20px;
      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: repeat-x;
      background-size: auto 20px; }
  .about-us__advantages {
    width: 700px; }
  .about-us__item {
    width: 350px; }
  .about-us__title {
    font-size: 53px;
    line-height: 57px; } }

.button {
  background-color: #fff;
  border: 2px solid #444444;
  padding: 15px 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  width: 100%;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "Open Sans"; }
  .button:hover {
    background-color: #444444;
    color: #fff; }
  .button:active {
    color: rgba(255, 255, 255, 0.3); }

.buy-button {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none; }

.button--green {
  background-color: #63d1bb;
  border: none;
  color: #fff; }

.catalog-menu__link {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 260px;
  margin: 0 auto;
  padding: 25px 115px 30px 0;
  color: #fff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none; }

.catalog-menu__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.catalog-menu__bg-zigzag {
  display: none; }

.catalog-menu__item {
  padding: 0; }

.catalog-menu__item--interior {
  background-color: #63d1bb; }

.catalog-menu__item--toys {
  background-color: #56c3b2; }

.catalog-menu__icon {
  position: absolute;
  opacity: 0.5;
  margin: auto 0;
  top: 0;
  bottom: 0;
  right: 0; }

.catalog-menu__icon--interior {
  right: 10px; }

@media (min-width: 768px) {
  .catalog-menu {
    margin-top: -130px; }
  .catalog-menu__list {
    position: relative; }
  .catalog-menu__icon {
    right: 30px; }
  .catalog-menu__bg-zigzag {
    display: block;
    margin-top: -25px; }
  .catalog-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .catalog-menu__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 334px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 1; }
    .catalog-menu__item:hover {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px); }
    .catalog-menu__item:active .catalog-menu__link {
      color: rgba(255, 255, 255, 0.3); }
  .catalog-menu__link {
    display: block;
    margin: 0;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    padding-left: 35px;
    padding-bottom: 35px;
    -webkit-transition: 0.2s;
    transition: 0.2s; } }

@media (min-width: 1150px) {
  .catalog-menu {
    margin-top: -143px; }
  .catalog-menu__item {
    width: 525px; }
  .catalog-menu__bg-zigzag {
    margin-top: -30px; } }

.catalog {
  margin: 30px 0; }

.catalog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #f1f1f1;
  margin-bottom: 30px; }

.catalog__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.catalog__item-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 28px 25px; }

.catalog__item-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1; }
  .catalog__item-title:hover {
    opacity: 0.6; }
  .catalog__item-title:active {
    opacity: 0.3; }

.catalog__item-description {
  font-size: 13px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 40px; }

.catalog__item-photo {
  display: block;
  margin-bottom: 30px; }

.catalog__item-price {
  width: 170px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px; }

.catalog__link {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.catalog__button-icon {
  position: absolute;
  top: 0;
  left: 0;
  fill: #000;
  opacity: 0.2; }

.catalog__button {
  position: absolute;
  right: 0;
  bottom: 0; }
  .catalog__button:hover .catalog__button-icon {
    fill: #63d1bb;
    opacity: 1; }
  .catalog__button:active .catalog__button-icon {
    fill: #63d1bb;
    opacity: 0.3; }

.catalog__item-info::after {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #f1f1f1;
  bottom: 45px; }

@media (min-width: 768px) {
  .catalog {
    margin-top: 55px;
    margin-bottom: 5px; }
  .catalog__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 50px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .catalog__item:hover {
      -webkit-box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.1);
              box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.1); }
    .catalog__item:active {
      -webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.1);
              box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.1); }
  .catalog__item-title {
    font-size: 20px;
    line-height: 24px; }
  .catalog__item-info {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 25px; }
  .catalog__item-description {
    font-size: 15px; }
  .catalog__item-photo {
    width: 334px;
    max-width: none;
    margin-bottom: 0; }
  .catalog__item-price {
    margin-top: auto;
    font-size: 17px;
    margin-left: 5px; }
  .catalog__item-info::after {
    bottom: 48px; }
  .catalog__button {
    position: absolute;
    right: 5px;
    bottom: 5px; } }

@media (min-width: 1150px) {
  .catalog {
    margin-top: 105px; }
  .catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -51px; }
  .catalog__item-photo {
    max-width: 100%; }
  .catalog__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 315px;
    margin-left: 48px; } }

.contacts {
  width: 100%;
  position: relative;
  padding: 37px 0; }
  .contacts::before {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 7px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: auto 7px; }

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: left; }

.contacts__contact {
  width: 60px;
  font-size: 15px;
  line-height: 30px;
  vertical-align: top; }

.contacts__table {
  border-collapse: collapse;
  margin-bottom: 10px; }

.contacts__value {
  width: 160px;
  font-size: 15px;
  line-height: 30px;
  padding-left: 17px;
  padding-bottom: 27px; }

.contacts__link {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid #63d1bb;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .contacts__link:hover {
    color: #46c1ae; }
  .contacts__link:active {
    color: #46c1ae;
    opacity: 0.3; }

.contacts__interactive-map {
  width: 100%;
  height: 458px;
  margin: 0 auto 37px; }

.contacts__interactive-map--hide {
  display: none; }

.contacts__map {
  display: block;
  width: 100%; }

.contacts__map--hide {
  display: none; }

.contacts__map-container {
  height: 458px;
  width: 320px;
  margin: 0 auto 37px;
  position: relative; }

.contacts__map-pin {
  position: absolute;
  z-index: 5;
  left: 20px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 140px; }

.contacts__button {
  display: block;
  width: 260px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color: #000;
  margin: 0 auto; }

@media (min-width: 768px) {
  .contacts {
    padding: 70px 0 53px; }
    .contacts::before {
      content: "";
      position: absolute;
      top: -5px;
      display: block;
      width: 100%;
      height: 20px;
      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: repeat-x;
      background-size: auto 20px; }
    .contacts::after {
      content: "";
      position: absolute;
      top: 57px;
      left: 630px;
      right: 0;
      margin: 0 auto;
      height: 100px;
      width: 60px;
      background-image: url(../img/flag.svg);
      background-repeat: no-repeat; }
  .contacts__table {
    margin-bottom: 30px; }
  .contacts__table-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin: 2px 0 47px -5px; }
  .contacts__value {
    width: 230px;
    padding-right: 26px;
    padding-left: 20px;
    font-size: 17px; }
  .contacts__contact {
    font-size: 17px;
    width: auto; }
  .contacts__interactive-map {
    margin-bottom: 55px; }
  .contacts__map-container {
    width: 768px;
    margin-bottom: 55px; }
  .contacts__button {
    width: 230px;
    padding: 15px 20px; } }

@media (min-width: 1150px) {
  .contacts {
    max-width: 875px;
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 165px;
    padding-left: 175px;
    margin-bottom: 70px; }
    .contacts::before {
      content: "";
      position: absolute;
      top: -5px;
      right: 0;
      display: block;
      width: 100%;
      height: 20px;
      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: repeat-x;
      background-size: auto 20px; }
    .contacts::after {
      top: 155px;
      right: 865px;
      left: 0;
      margin: 0 auto; }
  .contacts__title {
    font-size: 53px;
    line-height: 57px; }
  .contacts__container {
    padding-left: 0; }
  .contacts__interactive-map {
    position: absolute;
    width: 525px;
    height: 458px;
    right: 0;
    top: 95px; }
  .contacts__map-container {
    height: 458px;
    width: 525px;
    position: absolute;
    right: 0;
    top: 95px; }
  .contacts__map-pin {
    left: 20px;
    top: 150px; }
  .contacts__table-body {
    width: 350px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contacts__button {
    position: relative;
    right: 322px;
    top: 20px;
    width: 235px; } }

.copyright {
  text-align: center; }

.copyright__text {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px; }

.copyright__link {
  position: relative;
  right: 5px;
  text-decoration: none;
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .copyright__link svg {
    margin-left: 15px;
    position: relative;
    top: 10px;
    opacity: 1;
    fill: #63d1bb; }
  .copyright__link:hover svg {
    opacity: 1;
    fill: #46c1ae; }
  .copyright__link:active {
    opacity: 0.3;
    fill: #46c1ae; }

@media (min-width: 768px) {
  .copyright__link {
    right: 10px;
    bottom: 5px; }
    .copyright__link svg {
      left: 10px;
      top: 15px; } }

@media (min-width: 1150px) {
  .copyright__link svg {
    position: relative;
    left: 10px;
    top: 13px; } }

.featured {
  margin: 25px 0 30px; }

.featured__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 5px; }

.featured__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.featured__order-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.featured__item-type {
  display: inline-block;
  text-transform: uppercase;
  color: #63d1bb;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 20px; }

.featured__description {
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 17px; }

.featured__details {
  border-collapse: collapse;
  margin-bottom: 30px; }

.featured__feature {
  padding: 10px 0;
  border-bottom: 1px solid #f1f1f1;
  font-size: 15px;
  line-height: 20px; }

.featured__photo {
  margin-bottom: 17px;
  width: 260px;
  height: 315px; }

.featured__value {
  font-size: 15px;
  border-bottom: 1px solid #f1f1f1;
  line-height: 20px;
  padding-left: 20px; }

.featured__price {
  width: 100%;
  margin: 0;
  margin-bottom: 26px;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px; }

.featured__button {
  width: auto;
  text-align: center;
  text-decoration: none;
  color: #000; }

@media (min-width: 768px) {
  .featured {
    position: relative;
    margin: 43px 0 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .featured__title {
    display: inline-block;
    width: 500px;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 50px; }
  .featured__item-type {
    position: absolute;
    right: 0px;
    top: 10px;
    width: 125px;
    text-align: center;
    line-height: 17px; }
  .featured__item-info {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 668px;
    padding-right: 378px;
    min-height: 410px; }
  .featured__description {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 35px; }
  .featured__details {
    margin-bottom: 53px; }
  .featured__feature {
    width: 90px;
    margin: 0; }
  .featured__value {
    padding-left: 5px; }
  .featured__photo {
    position: absolute;
    right: 0;
    top: 7px;
    width: 334px;
    height: auto; }
  .featured__price {
    font-size: 20px;
    margin-bottom: 35px; } }

@media (min-width: 1150px) {
  .featured {
    position: relative;
    padding-left: 170px;
    padding-top: 120px;
    padding-bottom: 60px;
    margin-top: 0; }
  .featured__item-type {
    position: absolute;
    left: 20px;
    top: 135px; }
  .featured__title {
    width: auto;
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 50px; }
  .featured__description {
    margin-left: 5px;
    margin-bottom: 45px; }
  .featured__value {
    padding-left: 12px; }
  .featured__details {
    margin-bottom: 109px; }
  .featured__price {
    font-size: 20px;
    margin-left: 5px;
    margin-bottom: 40px; }
  .featured__button {
    position: relative;
    left: 5px;
    bottom: 5px; }
  .featured__photo {
    width: 525px;
    height: auto;
    top: -156px;
    right: -210px;
    z-index: -1; } }

.intro {
  background-color: #f1f1f1; }

.intro--img {
  background-color: #fafafa;
  background-image: url(../img/hero-mobile@1x.jpg);
  background-position: center -15px;
  background-repeat: no-repeat;
  min-height: 285px;
  background-size: 575px auto; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .intro--img {
    background-image: url(../img/hero-mobile@2x.jpg); } }

.intro__title {
  font-family: "Open Sans";
  margin: 0;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  padding: 70px 30px 75px;
  text-align: center; }

@media (min-width: 768px) {
  .intro {
    margin-top: -63px;
    padding: 95px 30px 0;
    padding-bottom: 20px;
    text-align: center; }
  .intro__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 0; }
  .intro--img {
    min-height: 650px;
    padding-top: 80px;
    background-image: url(../img/hero-tablet@1x.jpg);
    background-position: center 0;
    background-size: 1155px auto; }
    .intro--img .intro__title {
      padding-top: 75px; } }

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .intro--img {
    background-image: url(../img/hero-tablet@2x.jpg); } }

@media (min-width: 1150px) {
  .intro {
    margin-top: -63px; }
    .intro .intro__title {
      padding-bottom: 100px; }
  .intro--img {
    background-image: url(../img/hero-desktop@1x.jpg);
    background-position: center 5px;
    min-height: 670px;
    background-size: 1145px auto; }
  .intro--img::after {
    margin-top: -25px;
    z-index: 10;
    bottom: 0;
    content: "";
    display: none;
    width: 100%;
    height: 34px;
    background-image: url(../img/bg-zigzag-fill.svg);
    background-repeat: repeat-x;
    background-size: auto 34px; }
  .intro__title {
    font-size: 53px;
    line-height: 57px; } }

@media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {
  .intro--img {
    background-image: url(../img/hero-desktop@2x.jpg); } }

.nav {
  position: relative; }

.nav__link {
  text-align: left;
  display: block;
  padding: 27px 0 27px 50px;
  text-decoration: none;
  font-weight: 700;
  color: #000;
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s; }
  .nav__link:hover {
    opacity: 0.6; }
  .nav__link:active {
    opacity: 0.3; }

@media (max-width: 768px) {
  .nav__hamburger {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 21px;
    height: 21px;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.958' height='14'%3E%3Cpath fill='%23231F20' d='M0 0h19.958v2H0zm0 6h19.958v2H0zm0 6h19.958v2H0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat; }
  .nav__hamburger--opened {
    top: 27px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.514' height='20.512'%3E%3Cpath fill='%23231F20' d='M20.513 1.414L19.099 0l-8.843 8.842L1.414 0 0 1.414l8.842 8.842L0 19.098l1.414 1.414 8.842-8.842 8.843 8.842 1.414-1.414-8.842-8.842z'/%3E%3C/svg%3E"); } }

.nav__logo-container {
  display: block;
  padding: 20px 0;
  text-align: center; }

.nav__delivery {
  font-size: 15px;
  line-height: 24px;
  display: none; }

.nav__options-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none; }

.nav__logo {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .nav__logo:hover {
    opacity: 0.6; }
  .nav__logo:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .nav__hamburger {
    display: none; }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .nav__logo-container {
    width: 167px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: left; }
  .nav__logo {
    width: 114px;
    height: 51px; }
  .nav__search {
    margin-left: auto; }
  .nav__menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 335px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .nav__link {
    padding: 20px 0;
    text-align: left; }
  .nav__delivery {
    display: block;
    text-align: right;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 240px;
    padding: 10px 0 20px; } }

@media (min-width: 1150px) {
  .nav__menu {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .nav__logo-container {
    padding: 7px 0 0;
    width: 180px;
    margin-left: -50px;
    text-align: center; }
  .nav__link {
    padding: 25px 0 20px;
    text-align: left; }
  .nav__logo {
    width: 150px;
    height: 75px; }
  .nav__options-menu {
    width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .nav__options-item {
    margin-left: 60px; }
  .nav__options-item:first-of-type {
    margin-left: 0; }
  .nav__options-link {
    padding: 18px 0 20px;
    font-size: 15px;
    line-height: 24px; }
  .nav__delivery {
    padding: 18px 0 20px; } }

.menu {
  list-style: none;
  padding: 0;
  margin: 0; }

.menu__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 17px;
  line-height: 24px; }

@media (min-width: 768px) {
  .menu__item {
    font-size: 15px;
    line-height: 24px; }
  .menu__link {
    padding: 10px 0 20px; } }

@media (min-width: 1150px) {
  .menu__item {
    font-size: 17px;
    padding-left: 30px;
    border-right: 1px solid #f1f1f1; }
  .menu__link {
    padding: 31px 0 20px; }
  .menu__item:last-of-type {
    border-right: 0; }
  .menu__item:first-of-type {
    padding-left: 0; }
  .menu {
    width: 400px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.order-form {
  padding: 25px 0 56px;
  position: relative; }

.order-form__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: auto;
  margin: 10px auto;
  padding: 0 30px; }

.order-form__wrapper:last-of-type {
  padding-bottom: 0; }

.order-form__wrapper--gray {
  background-color: transparent; }

.order-form__description {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px; }

.order-form__fieldset {
  position: relative;
  padding: 25px 0;
  margin: 0;
  border-color: #63d1bb;
  border-left: none;
  border-bottom: none;
  border-right: none; }

.order-form__field {
  margin-bottom: 20px; }

.order-form__fieldset--type .order-form__field {
  margin-bottom: 15px; }

.order-form__field:last-of-type {
  margin-bottom: 0; }

.order-form__legend {
  padding-right: 10px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase; }

.order-form__checkbox {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; }

.order-form__radio {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; }

.order-form__radio ~ .order-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 63px;
  min-height: 40px;
  position: relative; }
  .order-form__radio ~ .order-form__label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #000; }

.order-form__radio:focus ~ .order-form__label:before {
  border: 2px solid #62d1ba; }

.order-form__radio:hover ~ .order-form__label:before {
  border: 2px solid #62d1ba; }

.order-form__radio:active ~ .order-form__label::before {
  border: 2px solid #cacaca; }

.order-form__radio:checked ~ .order-form__label:before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA80lEQVQ4jaXTPyvFURzH8ZdLd/MEdCVdGe4jkIUoBhYegGI1uDKTjTJ4BhSTyeRvGcwmRUkpu5QMioRO/X71c+7g3J/3dPp2Pu/z7XvO6Vi4PhcxiDlMoA+fuMMR9vFU3N4VrTexjEok7cEY1rGE3VjQiUNMx+1EdGMH/VhTOGkjIVxkFTO5YCBru122UA2C+WgWqdQxGQSjJcI5I0FQaymnU6tk91yWjyC4/4fgIQhOWsrpHAfBHp5LhC9wFQQvWMR3G+E3NMMif4kHWMFXQvgVs7gpCgLbmPpjqJcYwlleiF/gKRoYxjh68Y7H7Dvf/tqNH1sCKPm5w1OkAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: center; }

.order-form__checkbox ~ .order-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 65px;
  min-height: 40px;
  position: relative; }
  .order-form__checkbox ~ .order-form__label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: 2px solid #000; }

.order-form__checkbox:focus ~ .order-form__label:before {
  border: 2px solid #62d1ba; }

.order-form__checkbox:hover ~ .order-form__label:before {
  border: 2px solid #62d1ba; }

.order-form__checkbox:active ~ .order-form__label::before {
  border: 2px solid #cacaca; }

.order-form__checkbox:checked ~ .order-form__label:before {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='23px' height='16px' viewBox='0 0 32.666 22.742' enable-background='new 0 0 32.666 22.742' xml:space='preserve'%3E%3Cpolygon points='32.666,1.414 31.252,0 11.338,19.914 1.414,9.989 0,11.403 9.924,21.328 9.924,21.328 11.338,22.742 11.338,22.742 11.339,22.742 12.753,21.328 12.752,21.328 '/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center; }

.order-form__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px; }

.order-form__fieldset--name {
  padding-top: 28px;
  padding-bottom: 18px; }

.order-form__text-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 17px 0;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #000;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .order-form__text-input:hover {
    border-bottom: 2px solid #62d1ba;
    outline: none; }
  .order-form__text-input:active, .order-form__text-input:focus {
    border-bottom: 2px solid #62d1ba;
    outline: none; }
  .order-form__text-input::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3; }
  .order-form__text-input:-ms-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3; }
  .order-form__text-input::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3; }

.order-form__phone-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 10px 0;
  margin-top: -22px;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #000;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .order-form__phone-input:hover {
    border-bottom: 2px solid #62d1ba;
    outline: none; }
  .order-form__phone-input:focus {
    border-bottom: 2px solid #62d1ba;
    outline: none; }
  .order-form__phone-input::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3; }
  .order-form__phone-input:-ms-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3; }
  .order-form__phone-input::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3; }
  .order-form__phone-input:hover ~ .order-form__phone-icon {
    fill: #62d1ba;
    opacity: 1; }
  .order-form__phone-input:focus ~ .order-form__phone-icon {
    fill: #62d1ba;
    opacity: 1; }

.order-form__email-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 10px 0;
  font-size: 17px;
  line-height: 18px;
  margin-top: -22px;
  border: none;
  border-bottom: 2px solid #000;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .order-form__email-input:hover {
    border-bottom: 2px solid #62d1ba;
    outline: none; }
  .order-form__email-input:focus {
    border-bottom: 2px solid #62d1ba;
    outline: none; }
  .order-form__email-input::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3; }
  .order-form__email-input:-ms-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3; }
  .order-form__email-input::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3; }
  .order-form__email-input:hover ~ .order-form__email-icon {
    fill: #62d1ba;
    opacity: 1; }
  .order-form__email-input:focus ~ .order-form__email-icon {
    fill: #62d1ba;
    opacity: 1; }

.order-form__phone-icon {
  position: absolute;
  right: 10px;
  bottom: 50px;
  opacity: 0.2;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.order-form__email-icon {
  position: absolute;
  right: 5px;
  bottom: 40px;
  opacity: 0.2;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.order-form__add-info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100px;
  width: 100%;
  resize: vertical;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 18px;
  padding: 15px;
  border: 2px solid black;
  -webkit-transition: border 0.2s;
  transition: border 0.2s; }
  .order-form__add-info::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3; }
  .order-form__add-info:-ms-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3; }
  .order-form__add-info::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3; }
  .order-form__add-info:hover {
    border: 2px solid #62d1ba; }
  .order-form__add-info:focus {
    border: 2px solid #62d1ba;
    outline: none; }

.order-form__field--name {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.order-form__disclaimer {
  width: 260px;
  font-size: 14px;
  line-height: 16px;
  margin: -27px 30px 0; }

.order-form__button {
  display: block;
  width: 260px;
  margin: 30px auto 0;
  line-height: 16px; }

@media (min-width: 768px) {
  .order-form {
    padding-top: 50px;
    padding-bottom: 50px; }
  .order-form__fieldset {
    position: relative;
    padding-left: 150px;
    max-width: 480px;
    margin: 0 auto; }
  .order-form__legend {
    position: absolute;
    left: -20px;
    top: 30px; }
  .order-form__fieldset--type .order-form__field {
    margin-bottom: 25px; }
    .order-form__fieldset--type .order-form__field:last-of-type {
      margin-bottom: 0; }
  .order-form__fieldset--color {
    padding-bottom: 0;
    margin-bottom: -20px; }
  .order-form__radio ~ .order-form__label {
    padding-left: 80px;
    padding-top: 7px;
    position: relative; }
    .order-form__radio ~ .order-form__label:before {
      width: 45px;
      height: 45px; }
      .order-form__radio ~ .order-form__label:before:hover, .order-form__radio ~ .order-form__label:before:focus {
        border-color: #62d1ba; }
      .order-form__radio ~ .order-form__label:before:active {
        border-color: #cacaca; }
  .order-form__radio:checked ~ .order-form__label:before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAABZ0lEQVQ4jbXVv0uVURzH8ZdpQYP0w1BwECIXaaihkGjQTQcd/QeEBgUnG/sL2sQgaqiGxgaFprZwM4q8lxZFBA0NcgubhOTLPRdu99zncrs+veFZnvM97+f7feB8Ts/81gdtuIhx3MEQTnGITVTxJ9uR6Mve1LiKZSzierZaYxdP8Sp98C8uZOVMYwdP2kiDW3iBr2mituJHeI8bmaaY29jARJF4Cs/RW6goph/rGG0WD+Btl9I6V/AGPY3ix/84fhEPMVMXR5fzBYXdsFAX38NgieJJXArx3WzpfFzGSIivlSwOhlsdkFII8cF/8H4P8afs9fk4xl6It/GtRPFapF79H69ky90RMbqq4eS9xucSxC9RaRRHns7hZ1baOdWU4TSl217K4sMupJWUjietxMEX3E+Z3Akx6TM8wFHjhlYHJDqeTWf+HX61qPmRbo8xLOF3c0HRnRd8TE/U3ExBFR1GZ/ttx8EZGGI6WtXxeqoAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: center; }
  .order-form__checkbox ~ .order-form__label {
    padding-left: 80px;
    padding-top: 7px;
    position: relative;
    margin-bottom: 10px; }
    .order-form__checkbox ~ .order-form__label:before {
      left: 0;
      width: 48px;
      height: 48px; }
  .order-form__checkbox:checked ~ .order-form__label:before {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='32.666px' height='22.742px' viewBox='0 0 32.666 22.742' enable-background='new 0 0 32.666 22.742' xml:space='preserve'%3E%3Cpolygon points='32.666,1.414 31.252,0 11.338,19.914 1.414,9.989 0,11.403 9.924,21.328 9.924,21.328 11.338,22.742 11.338,22.742 11.339,22.742 12.753,21.328 12.752,21.328 '/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center; }
  .order-form__description {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 0; }
  .order-form__wrapper {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: auto;
    padding: 35px 50px 30px;
    margin: 0 auto; }
  .order-form__text-input {
    font-size: 19px;
    width: 104%;
    padding: 17px 20px; }
  .order-form__phone-input {
    width: 104%;
    font-size: 19px;
    padding: 17px 20px;
    margin-bottom: 0; }
  .order-form__email-input {
    width: 104%;
    font-size: 19px;
    padding: 17px 20px;
    margin-bottom: 0; }
  .order-form__label {
    font-size: 19px; }
  .order-form__phone-input {
    background-color: #f1f1f1; }
  .order-form__phone-icon {
    bottom: 45px; }
  .order-form__email-input {
    background-color: #f1f1f1; }
  .order-form__text-input::-webkit-input-placeholder {
    font-size: 19px; }
  .order-form__text-input:-ms-input-placeholder {
    font-size: 19px; }
  .order-form__text-input::placeholder {
    font-size: 19px; }
  .order-form__phone-input::-webkit-input-placeholder {
    font-size: 19px; }
  .order-form__phone-input:-ms-input-placeholder {
    font-size: 19px; }
  .order-form__phone-input::placeholder {
    font-size: 19px; }
  .order-form__email-input::-webkit-input-placeholder {
    font-size: 19px; }
  .order-form__email-input:-ms-input-placeholder {
    font-size: 19px; }
  .order-form__email-input::placeholder {
    font-size: 19px; }
  .order-form__add-info::-webkit-input-placeholder {
    font-size: 19px;
    line-height: 18px; }
  .order-form__add-info:-ms-input-placeholder {
    font-size: 19px;
    line-height: 18px; }
  .order-form__add-info::placeholder {
    font-size: 19px;
    line-height: 18px; }
  .order-form__add-info {
    width: 104%;
    font-size: 19px;
    line-height: 18px; }
  .order-form__wrapper--gray {
    background-color: #f1f1f1;
    padding-bottom: 40px; }
  .order-form__fieldset {
    border: none; }
  .order-form__field--name {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .order-form__field--name .order-form__label {
      padding: 19px 20px 0 0; }
  .order-form__fieldset--color {
    padding-top: 17px; }
    .order-form__fieldset--color .order-form__fieldset-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
    .order-form__fieldset--color .order-form__field {
      width: 228px; }
  .order-form__fieldset--name {
    padding-top: 10px;
    max-width: 500px;
    padding-left: 170px; }
    .order-form__fieldset--name .order-form__legend {
      left: 0; }
  .order-form__button {
    padding-left: 30px;
    padding-right: 30px;
    width: 235px;
    margin: 0 auto;
    position: relative;
    right: 217px; }
  .order-form__disclaimer {
    position: relative;
    font-size: 17px;
    margin: 0 auto;
    line-height: 30px;
    width: 334px;
    text-align: center;
    top: 40px;
    left: 175px; } }

@media (min-width: 1150px) {
  .order-form {
    padding-top: 95px; }
  .order-form__wrapper {
    width: auto;
    padding-left: 135px; }
  .order-form__description {
    margin-left: 175px; }
  .order-form__fieldset {
    max-width: 860px;
    padding-left: 80px; }
  .order-form__legend {
    left: -40px;
    top: 30px; }
  .order-form__fieldset--name .order-form__legend {
    left: -40px; }
  .order-form__fieldset--color .order-form__field {
    margin-right: 35px; }
  .order-form__field--name {
    margin-right: 165px; }
  .order-form__phone-input {
    width: 695px; }
  .order-form__email-input {
    width: 695px; }
  .order-form__phone-icon {
    right: 175px; }
  .order-form__email-icon {
    right: 175px; }
  .order-form__add-info {
    width: 695px; }
  .order-form__button {
    right: 230px; }
  .order-form__disclaimer {
    left: 200px; } }

.page-footer {
  position: relative;
  background-color: #f1f1f1;
  padding: 23px 0; }

.page-footer__logo {
  display: none; }

.page-footer__social {
  margin: 0;
  padding: 0 0 20px; }

.page-footer__copyright {
  padding: 9px 0 0; }

.page-footer__logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media (min-width: 768px) {
  .page-footer {
    padding: 50px 0; }
  .page-footer__logo {
    display: block;
    margin: auto 0;
    fill: #000;
    opacity: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .page-footer__logo:hover {
      fill: #46c1ae; }
    .page-footer__logo:active {
      fill: #46c1ae;
      opacity: 0.3; }
  .page-footer__copyright {
    padding: 0; }
  .page-footer__social {
    margin-left: 70px; }
  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.page-header {
  position: relative; }

.page-header::after {
  margin-top: -25px;
  position: relative;
  z-index: 10;
  content: "";
  display: none;
  width: 100%;
  height: 34px;
  background-image: url("../img/bg-zigzag-fill.svg");
  background-repeat: repeat-x;
  background-size: auto 34px; }

@media (min-width: 768px) {
  .page-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .page-header {
    padding-bottom: 0px; }
  .page-header::after {
    margin-top: -25px;
    display: block; } }

@media (min-width: 1150px) {
  .page-header::after {
    bottom: 8px; } }

.production {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 28px 0 52px;
  border: 2px solid #f1f1f1;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .production:hover {
    -webkit-box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.1); }
  .production:active {
    -webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.1); }

.production__title {
  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding: 0 28px 0 90px;
  margin: 25px 0; }

.production__title::before {
  content: '';
  position: absolute;
  display: block;
  left: 30px;
  top: 5px;
  width: 35px;
  height: 35px;
  background-image: url(../img/icon-video.svg); }

.production__description {
  font-size: 13px;
  line-height: 24px;
  margin: 27px 0;
  padding: 0 38px 0 32px; }

.production__video {
  position: relative; }

.production__play-button {
  width: 110px;
  height: 90px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: transparent;
  border: none;
  opacity: 1; }
  .production__play-button:hover, .production__play-button:focus {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
    outline: none; }
  .production__play-button:focus .production__play-icon {
    stroke: #4D90FE; }
  .production__play-button:active {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.3; }

.production__video-poster {
  display: block; }

.production__button {
  line-height: 16px;
  margin: 0 30px 35px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  color: #000;
  width: auto; }

@media (min-width: 768px) {
  .production {
    margin-bottom: 60px; }
  .production__video {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .production__title {
    font-size: 20px;
    margin: 40px 38px 32px;
    padding-left: 65px; }
  .production__title::before {
    left: 1px;
    top: -4px; }
  .production__description {
    font-size: 15px;
    line-height: 30px;
    padding: 0 38px;
    margin: 0;
    margin-bottom: 35px; }
  .production__button {
    padding: 17px;
    margin: 0 40px 45px; } }

@media (min-width: 1150px) {
  .production {
    min-height: 455px;
    margin: 0 0 100px; }
  .production__video {
    position: absolute;
    top: 0;
    left: 0; }
  .production__title {
    margin: 45px 60px 32px auto;
    padding: 47px 0 0 0;
    width: 230px; }
  .production__title::before {
    left: 5px;
    top: -6px; }
  .production__description {
    width: 230px;
    margin: 0 60px 47px;
    margin-left: auto;
    padding: 0; }
  .production__button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 230px;
    margin: 0 55px 20px auto; } }

.reviews {
  padding: 10px 0 0;
  margin-bottom: 48px; }

.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 25px; }

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.reviews__review {
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 25px; }

.reviews__item {
  margin: 0; }

.reviews__author-name {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
  margin-bottom: 4px; }

.reviews__author-twitter {
  font-size: 17px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 30px; }

.reviews__toggles {
  margin-bottom: 35px; }

.reviews__button {
  font-size: 18px;
  display: block;
  text-align: center;
  width: auto;
  color: #000;
  text-decoration: none; }

@media (min-width: 768px) {
  .reviews {
    position: relative;
    padding: 80px 0 60px;
    padding-left: 50px;
    margin-left: -50px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-image: url(../img/review@1x.jpg);
    background-size: 350px 457px;
    background-position: 0 0; } }

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .reviews {
    background-image: url(../img/review@2x.jpg); } }

@media (min-width: 768px) {
  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    margin-left: -5px;
    margin-bottom: 47px; }
  .reviews__button {
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 175px;
    padding: 15px 30px;
    right: 0;
    top: 80px;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    color: #000; }
  .reviews__review {
    font-size: 17px;
    margin-bottom: 57px; }
  .reviews__author-name {
    font-size: 18px;
    margin-bottom: 5px; }
  .reviews__toggles {
    position: absolute;
    right: 5px;
    bottom: 85px; } }

@media (min-width: 1150px) {
  .reviews {
    padding-top: 70px;
    padding-left: 175px;
    margin-left: 0;
    margin-bottom: 70px; } }

@media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {
  .reviews {
    background-image: url(../img/review@2x.jpg); } }

@media (min-width: 1150px) {
  .reviews__button {
    top: 72px; }
  .reviews__review {
    padding-right: 90px; }
  .reviews__title {
    font-size: 53px;
    line-height: 57px; }
  .reviews__review {
    margin-bottom: 40px; }
  .reviews__author-name {
    font-size: 17px; } }

.search__link {
  position: relative; }
  .search__link .search__icon {
    display: block;
    position: absolute;
    margin: auto 0;
    left: 15px;
    top: 0;
    bottom: 0;
    opacity: 0.2;
    fill: black;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .search__link:active .search__icon {
    fill: #63d1bb;
    opacity: 0.3; }
  .search__link:hover .search__icon {
    fill: #63d1bb;
    opacity: 1; }

@media (min-width: 768px) {
  .search__link-text {
    display: none; }
  .search__link {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 85px;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    height: 100%; }
    .search__link .search__icon {
      margin: auto 0;
      left: 30px;
      right: 0;
      top: -5px;
      bottom: 0;
      opacity: 0.2; } }

@media (min-width: 1150px) {
  .search__link .search__icon {
    top: 2px; } }

.slider__toggles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: 1px solid #f1f1f1;
  width: 100%; }

.slider__arrow {
  display: block;
  width: 50%;
  height: 52px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .slider__arrow:hover {
    opacity: 0.6; }
  .slider__arrow:active {
    opacity: 0.3; }

.slider__arrow--prev {
  background-image: url(../img/left-arrow.svg); }

.slider__arrow--next {
  background-image: url(../img/right-arrow.svg); }

@media (min-width: 768px) {
  .slider__toggles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: none;
    margin-bottom: 0;
    width: 167px; }
  .slider__arrow {
    height: 70px; } }

.social {
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.social__link {
  text-decoration: none;
  color: #000; }
  .social__link svg {
    fill: black;
    opacity: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .social__link:hover svg {
    fill: #46c1ae;
    opacity: 1; }
  .social__link:active svg {
    fill: #46c1ae;
    opacity: 0.3; }

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px; }
  .social__item:first-child {
    margin-left: 0; }

@media (min-width: 768px) {
  .social {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
    border-bottom: 0; } }

.user-nav {
  position: relative;
  margin: 0;
  padding: 5px 0;
  list-style: none; }

.user-nav__link {
  position: relative; }
  .user-nav__link .user-nav__icon {
    position: absolute;
    margin: auto 0;
    left: 15px;
    top: 0;
    bottom: 0;
    opacity: 0.2;
    fill: black;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .user-nav__link:hover .user-nav__icon {
    fill: #63d1bb;
    opacity: 1; }
  .user-nav__link:active .user-nav__icon {
    fill: #63d1bb;
    opacity: 0.3; }

.user-nav__item {
  font-size: 17px;
  line-height: 24px; }

@media (min-width: 768px) {
  .user-nav {
    width: 263px;
    padding: 0; }
  .user-nav__item {
    height: 100%; }
  .user-nav__link {
    text-align: right;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
    padding-top: 30px;
    padding-left: 50px; }
    .user-nav__link .user-nav__icon {
      margin: auto 0;
      left: 30px;
      opacity: 0.3;
      top: -10px;
      bottom: 0; } }

@media (min-width: 1150px) {
  .user-nav__link {
    padding: 31px 0 20px; }
    .user-nav__link .user-nav__icon {
      top: 2px;
      left: 25px; } }

.size-modal {
  display: none;
  -webkit-box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 50vh;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  margin: 0 auto;
  background-color: #fff;
  padding: 35px 30px 47px;
  width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 2px solid #c7c7c7; }

.size-modal--show {
  display: block; }

.size-modal__title {
  display: block;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px; }

.size-modal__text {
  display: block;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 20px; }

.size-modal__sizes {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px; }

.size-modal__size {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-size: 17px;
  line-height: 16px;
  width: 82px;
  min-height: 53px; }

.size-modal__size-button {
  font-weight: 700;
  width: 100%;
  height: 100%;
  border: 3px solid #ececec;
  background-color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .size-modal__size-button:hover {
    border: 3px solid #c7c7c7; }
  .size-modal__size-button:focus {
    border: 3px solid #c7c7c7;
    outline: none; }
  .size-modal__size-button:active {
    border: 3px solid #63d1bb;
    outline: none; }

.size-modal__button-close {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.514' height='20.512'%3E%3Cpath fill='%23231F20' d='M20.513 1.414L19.099 0l-8.843 8.842L1.414 0 0 1.414l8.842 8.842L0 19.098l1.414 1.414 8.842-8.842 8.843 8.842 1.414-1.414-8.842-8.842z'/%3E%3C/svg%3E"); }

@media (min-width: 768px) {
  .size-modal {
    width: 570px;
    padding: 47px 108px; }
  .size-modal__title {
    font-size: 30px;
    line-height: 57px; }
  .size-modal__text {
    font-size: 17px; }
  .size-modal__size {
    width: 110px; } }
