.catalog-menu__link {
  color: #fff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
}

.catalog-menu__list {
  padding: 0;
  margin: 0;
}

.catalog-menu__item {
  padding: 30px 30px;
}

.catalog-menu__item--interior {
  background-color: #63d1bb;
}

.catalog-menu__item--toys {
  background-color: #56c3b2;
}
