.contacts {
  padding: 42px 0 0;
  margin-bottom: 42px;
  outline: 1px solid gray;
}

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.contacts__contact {
  font-size: 15px;
  line-height: 30px;
}

.contacts__value {
  font-size: 15px;
  line-height: 30px;
}
