.contacts {
  position: relative;
  padding: 42px 0 0;
  margin-bottom: 42px;
  outline: 1px solid gray;
}

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.contacts__contact {
  font-size: 15px;
  line-height: 30px;
}

.contacts__value {
  font-size: 15px;
  line-height: 30px;
}

.contacts__map {
  margin-bottom: 42px;
  width: 260px;
  transform: scale(1.23);
}

@media (min-width: $tablet-width) {
  .contacts__table-body {
    display: flex;
  }

}

@media (min-width: $desktop-width) {

  .contacts {
    padding-left: 175px;
  }

  .contacts__map {
    position: relative;
    left: 500px;
  }


  .contacts__table-body {
    width: 350px;
    flex-direction: column;
  }
}
