.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.contacts__contact {
  font-size: 15px;
  line-height: 30px;
}

.contacts__value {
  font-size: 15px;
  line-height: 30px;
}
