.map {
  margin-bottom: 42px;
  width: 320px;

}

.map__map-photo {
  width: 320px;
  height: 460px;
  background-image: url(../img/map-mobile@1x.jpg);
}

@media (min-width: $tablet-width) {
  .map {
    width: 768px;
  }

  .map__map-photo {
    width: 768px;
    height: 460px;
    background-image: url(../img/map-tablet@1x.jpg);
  }
}
