.nav__link {
  text-align: center;
  display: block;
  padding: 27px 0;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000;
}


.nav__logo {
  display: block;
  padding: 20px 0;
  text-align: center;
}

.nav__delivery {
  display: none;
}

.nav__options-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}



@media (min-width: $tablet-width) {
  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav__menu {
    width: 335px;
    display: flex;
    order: 1;
  }

  .nav__delivery {
    display: block;
    order: 1;
    width: 240px;
  }

  .nav__logo {
    width: 320px;
  }

  .nav__user-nav {
    width: 263px;
  }
}

@media (min-width: $desktop-width) {
  .nav__menu {
    order: -1;
  }

  .nav__options-menu {
    display: flex;
    order: 1;
  }
}
