.order-form {
  outline: 1px solid gray;
  padding: 30px 0 56px;
}

.order-form__wrapper {
  box-sizing: border-box;
  width: 320px;
  padding: 30px 30px 0;
}

.order-form__wrapper--gray {
  background-color: transparent;
}


.order-form__description {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px;
}



.order-form__fieldset {
  padding: 22px 0 0;
  margin: 0;
}

.order-form__legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $cyan;
  text-transform: uppercase;
}

.order-form__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.order-form__text-input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: $light-gray;
}

.order-form__text-input {
  box-sizing: border-box;
  width: 100%;
}

.order-form__phone-input {
  box-sizing: border-box;
  width: 100%;
}

.order-form__email-input {
  box-sizing: border-box;
  width: 100%;
}

.order-form__add-info {
  box-sizing: border-box;
  width: 100%;
}

.order-form__field--name {
  flex-direction: column;
  display: flex;
}

.order-form__disclaimer {
  font-size: 14px;
  line-height: 16px;
}

.order-form__button {
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .order-form__fieldset {
    position: relative;
    padding-left: 167px;
  }

  .order-form__legend {
    position: absolute;
    left: 0;
    top: 30px;
  }

  .order-form__wrapper {
    box-sizing: border-box;
    width: 768px;
    padding: 50px 50px;
  }

  .order-form__wrapper--gray {
    background-color: $gray;
  }

  .order-form__fieldset--color {

    .order-form__fieldset-wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .order-form__field {
      width: 248px;
    }
  }
}
