.production__video {
  width: 260px;
  height: 150px;
  background-image: url(../img/video-mobile@1x.jpg);
}

.production__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.production__description {
  font-size: 13px;
  line-height: 24px;
}

.production__button {
  line-height: 16px;
}
