.button {
  background-color: #fff;
  border: 2px solid black;
  padding: 15px 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  width: 100%;
}

.buy-button {
  padding: 0;
  margin: 0;
  background-image: url(../../img/icon-cart.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
}
