.catalog-menu__link {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 260px;
  margin: 0 auto;
  padding: 35px 115px 40px 0;
  color: #fff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
}

.catalog-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;

}

.catalog-menu__bg-zigzag {
  display: none;
}

.catalog-menu__item {
  padding: 0;
}

.catalog-menu__item--interior {
  background-color: #63d1bb;
}

.catalog-menu__item--toys {
  background-color: #56c3b2;
}

.catalog-menu__icon {
  position: absolute;
  opacity: 0.5;
  margin: auto 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.catalog-menu__icon--interior {
  right: 10px;
}

@media (min-width: $tablet-width) {
  .catalog-menu {
    margin-top: -130px;
  }

  .catalog-menu__list {
    position: relative;
  }


  .catalog-menu__icon {
    right: 30px;
  }

  .catalog-menu__bg-zigzag {
    display: block;
    margin-top: -25px;
  }

  .catalog-menu__list {
    display: flex;
    justify-content: center;
  }

  .catalog-menu__item {
    box-sizing: border-box;
    width: 334px;
    transition: 0.3s;
    opacity: 1;

    &:hover {
      transform: translateY(-5px);
    }

    &:active .catalog-menu__link {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .catalog-menu__link {
    display: block;
    margin: 0;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    padding-left: 35px;
    transition: 0.2s;
  }
}

@media (min-width: $desktop-width) {
  .catalog-menu__item {
    width: 525px;
  }



  .catalog-menu__bg-zigzag {
    margin-top: -30px;
  }

}
