.featured {
  margin: 25px 0 30px;
}

.featured__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 5px;
}

.featured__item-info {
  display: flex;
  flex-direction: column;
}

.featured__order-info {
  display: flex;
  flex-direction: column;
}

.featured__item-type {
  display: inline-block;
  text-transform: uppercase;
  color: $cyan;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 20px;
}

.featured__description {
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 17px;
}

.featured__details {
  border-collapse: collapse;
  margin-bottom: 30px;
}

.featured__feature {
  padding: 10px 0;
  border-bottom: 1px solid $gray;
  font-size: 15px;
  line-height: 20px;
}

.featured__photo {
  margin-bottom: 17px;
  width: 260px;
  height: 315px;
}

.featured__value {
  font-size: 15px;
  border-bottom: 1px solid $gray;
  line-height: 20px;
  padding-left: 20px;
}

.featured__price {
  width: 100%;
  margin: 0;
  margin-bottom: 26px;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.featured__button {
  width: auto;
  text-align: center;
  text-decoration: none;
  color: #000;
}

@media (min-width: $tablet-width) {
  .featured {
    position: relative;
    margin: 43px 0 50px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .featured__title {
    display: inline-block;
    width: 500px;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 50px;
  }

  .featured__item-type {
    position: absolute;
    right: 0px;
    top: 10px;
    width: 125px;
    text-align: center;
    line-height: 17px;
  }

  .featured__item-info {
    position: relative;
    box-sizing: border-box;
    width: 668px;
    padding-right: 378px;
    min-height: 410px;
  }

  .featured__description {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 35px;
  }

  .featured__details {
    margin-bottom: 53px;
  }

  .featured__feature {
    width: 90px;
    margin: 0;
  }

  .featured__value {
    padding-left: 5px;
  }


  .featured__photo {
    position: absolute;
    right: 0;
    top: 7px;
    width: 334px;
    height: auto;
  }

  .featured__price {
    font-size: 20px;
    margin-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .featured {
    position: relative;
    padding-left: 170px;
    padding-top: 120px;
    padding-bottom: 60px;
    margin-top: 0;

  }

  .featured__item-type {
    position: absolute;
    left: 20px;
    top: 135px;
  }

  .featured__title {
    width: auto;
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 50px;
  }

  .featured__description {
    margin-left: 5px;
    margin-bottom: 45px;
  }

  .featured__value {
    padding-left: 12px;
  }

  .featured__details {
    margin-bottom: 109px;
  }

  .featured__price {
    font-size: 20px;
    margin-left: 5px;
    margin-bottom: 40px;
  }

  .featured__button {
    position: relative;
    left: 5px;
    bottom: 5px;
  }

  .featured__photo {
    width: 525px;
    height: auto;
    top: -156px;
    right: -210px;
    z-index: -1;
  }
}
