.nav {
  position: relative;
}

.nav__link {
  text-align: left;
  display: block;
  padding: 27px 0 27px 50px;
  text-decoration: none;
  font-weight: 700;
  color: #000;

  opacity: 1;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $tablet-width) {
  .nav__hamburger {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 21px;
    height: 21px;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.958' height='14'%3E%3Cpath fill='%23231F20' d='M0 0h19.958v2H0zm0 6h19.958v2H0zm0 6h19.958v2H0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }

  .nav__hamburger--opened {
    top: 27px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.514' height='20.512'%3E%3Cpath fill='%23231F20' d='M20.513 1.414L19.099 0l-8.843 8.842L1.414 0 0 1.414l8.842 8.842L0 19.098l1.414 1.414 8.842-8.842 8.843 8.842 1.414-1.414-8.842-8.842z'/%3E%3C/svg%3E");

  }
}

@media (min-width: $tablet-width) {
  .nav__hamburger {
    display: none;
  }
}



.nav__logo-container {
  display: block;
  padding: 20px 0;
  text-align: center;
}

.nav__delivery {
  font-size: 15px;
  line-height: 24px;
  display: none;
}

.nav__options-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

.nav__logo {
  opacity: 1;
  transition: 0.3s;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}




@media (min-width: $tablet-width) {
  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav__logo-container {
    width: 167px;
    box-sizing: border-box;
    text-align: left;
  }

  .nav__logo {
    width: 114px;
    height: 51px;
  }

  .nav__search {
    margin-left: auto;
  }

  .nav__menu {
    order: 1;
  }

  .nav__link {
    padding: 20px 0;
    text-align: left;

  }

  .nav__delivery {
    display: block;
    text-align: right;
    order: 1;
    width: 240px;
    padding: 20px 0;
  }
}

@media (min-width: $desktop-width) {
  .nav__menu {
    order: -1;
  }

  .nav__logo-container {
    padding: 10px 0;
    width: 180px;
    margin-left: -50px;
    text-align: center;
  }

  .nav__link {
    padding: 25px 0 20px;
    text-align: left;
  }

  .nav__options-menu {
    width: 350px;
    display: flex;
    order: 1;
  }

  .nav__options-item {
    margin-right: 40px;
  }

  .nav__options-link {
    font-size: 15px;
    line-height: 24px;
  }
}
