.page-footer {
  position: relative;
  background-color: $gray;
  padding: 23px 0;
}

.page-footer__logo {
  display: none;

}

.page-footer__social {
  margin: 0;
  padding: 0 0 20px;
}

.page-footer__copyright {
  padding: 9px 0 0;
}

.page-footer__logo-link {
  display: flex;
}

@media (min-width: $tablet-width) {

  .page-footer {
    padding: 53px 0;
  }

  .page-footer__logo {
    display: block;
    margin: auto 0;
    fill: #000;
    opacity: 1;
    transition: 0.3s;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }

  .page-footer__copyright {
    padding: 0;
  }

  .page-footer__social {
    margin-left: 70px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {}
