.production {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 28px 0 52px;
  border: 2px solid $gray;

  transition: 0.3s;

  &:hover {
    box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.1);
  }
}

.production__title {
  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding: 0 28px 0 80px;
  margin: 30px 0;
}

.production__title::before {
  content: '';
  position: absolute;
  display: block;
  left: 25px;
  top: 5px;
  width: 35px;
  height: 35px;
  background-image: url(../img/icon-video.svg);
}

.production__description {
  font-size: 13px;
  line-height: 24px;
  margin: 30px 0;
  padding: 0 28px;
}

.production__video {
  position: relative;
}

.production__play-button {
  width: 110px;
  height: 90px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.3s;
  background-color: transparent;
  border: none;
  opacity: 1;

  &:hover,
  &:focus {
    transform: scale(1.2);
    opacity: 1;
    outline: none;
  }

  &:focus .production__play-icon {
    stroke: #4D90FE;
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.production__video-poster {
  display: block;
}

.production__button {
  line-height: 16px;
  margin: 0 35px 35px;
  padding: 20px 15px;
  width: auto;
}

@media (min-width: $tablet-width) {
  .production__video {
    order: -1;
  }

  .production__title {
    font-size: 20px;
    margin: 40px 43px;
    padding-left: 65px;
  }

  .production__title::before {
    left: 15px;
    top: -5px;

  }


  .production__description {
    font-size: 15px;
    line-height: 30px;
    padding: 0 43px;
    margin: 0;
  }

  .production__button {
    padding: 20px;
    margin: 0 43px 35px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    min-height: 455px;
    margin: 0 0 105px;
  }

  .production__video {
    position: absolute;
    top: 0;
    left: 0;
  }

  .production__title {
    margin: 45px 60px 40px auto;
    padding: 50px 0 0 0;
    width: 230px;
  }

  .production__title::before {
    left: 0;
    top: 0;

  }


  .production__description {
    width: 230px;
    margin: 0 60px 50px;
    margin-left: auto;
    padding: 0;
  }

  .production__button {
    width: 230px;
    margin: 0 60px 20px;
    margin-left: auto;
  }
}
