.search__link {
  position: relative;

  .search__icon {
    display: block;
    position: absolute;
    margin: auto 0;
    left: 15px;
    top: 0;
    bottom: 0;
    opacity: 0.2;
    fill: black;
    transition: 0.3s;
  }

  &:active .search__icon {
    fill: $cyan;
    opacity: 0.3;
  }

  &:hover .search__icon {
    fill: $cyan;
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .search__link-text {
    display: none;
  }

  .search__link {
    position: relative;
    box-sizing: border-box;
    width: 85px;
    border-left: 1px solid $gray;
    border-right: 1px solid $gray;
    height: 100%;

    .search__icon {
      margin: auto 0;
      left: 30px;
      right: 0;
      top: -5px;
      bottom: 0;
      opacity: 0.2;
    }
  }
}

@media (min-width: $desktop-width) {
  .search__link {

    .search__icon {
      top: 2px;
    }
  }
}
