.slider__toggles {
  display: flex;
  outline: 1px solid $gray;

  width: 100%;
}

.slider__arrow {
  display: block;
  width: 50%;
  height: 52px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  opacity: 1;
  transition: 0.3s;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.slider__arrow--prev {
  background-image: url(../img/left-arrow.svg);
}


.slider__arrow--next {
  background-image: url(../img/right-arrow.svg);
}


@media (min-width: $tablet-width) {
  .slider__toggles {
    display: flex;
    outline: none;
    margin-bottom: 0;
    width: 167px;
  }

  .slider__arrow {
    height: 70px;
  }
}
