.social {
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}

.social__link {
  text-decoration: none;
  color: #000;


  svg {
    fill: black;
    opacity: 1;
    transition: 0.3s;
  }

  &:hover svg {
    fill: #46c1ae;
    opacity: 1;
  }

  &:active svg {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

.social__item {
  display: flex;
  margin-left: 40px;

  &:first-child {
    margin-left: 0;
  }
}

@media (min-width: $tablet-width) {
  .social {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
    border-bottom: 0;
  }
}
