.user-nav {
  position: relative;
  margin: 0;
  padding: 5px 0;
  list-style: none;
}

.user-nav__link {
  position: relative;

  .user-nav__icon {
    position: absolute;
    margin: auto 0;
    left: 15px;
    top: 0;
    bottom: 0;
    opacity: 0.2;
    fill: black;
    transition: 0.3s;
  }

  &:hover .user-nav__icon {
    fill: $cyan;
    opacity: 1;
  }

  &:active .user-nav__icon {
    fill: $cyan;
    opacity: 0.3;
  }
}

.user-nav__item {
  font-size: 17px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {

  .user-nav {
    width: 263px;
    padding: 0;
  }

  .user-nav__item {
    height: 100%;
  }

  .user-nav__link {
    text-align: right;
    box-sizing: border-box;
    height: 100%;
    padding-top: 30px;
    padding-left: 50px;

    .user-nav__icon {
      margin: auto 0;
      left: 30px;
      opacity: 0.3;
      top: -10px;
      bottom: 0;
    }
  }


}

@media (min-width: $desktop-width) {
  .user-nav__link {
    padding: 31px 0 20px;

    .user-nav__icon {
      top: 2px;
      left: 25px;
    }
  }

}
