.user-nav {
  position: relative;
  margin: 0;
  padding: 5px 0;
  list-style: none;
}

.user-nav__link {
  position: relative;

  svg {
    position: absolute;
    margin: auto 0;
    left: 15px;
    top: 0;
    bottom: 0;
    opacity: 0.2;
    fill: black;
    transition: 0.3s;
  }

  &:hover svg {
    fill: $cyan;
    opacity: 1;
  }

  &:active svg {
    fill: $cyan;
    opacity: 0.3;
  }
}

.user-nav__item {
  font-size: 17px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {

  .user-nav {
    width: 263px;
    padding: 0;
  }

  .user-nav__item {
    height: 100%;
  }

  .user-nav__link {
    text-align: right;
    box-sizing: border-box;
    height: 100%;
    padding-top: 35px;
    padding-left: 50px;

    svg {
      margin: auto 0;
      left: 30px;
      opacity: 0.3;
      top: 0;
      bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-nav__link {
    padding: 25px 0 20px;
  }
}
