.contacts {
  width: 100%;
  position: relative;
  padding: 42px 0;
  outline: 1px solid gray;
}

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 32px;
  text-align: left;
}

.contacts__contact {
  width: 60px;
  font-size: 15px;
  line-height: 30px;
  vertical-align: top;
}

.contacts__table {
  border-collapse: collapse;
}

.contacts__value {
  width: 160px;
  font-size: 15px;
  line-height: 30px;
  padding-bottom: 32px;
}

.contacts__link {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid $cyan;

}

.contacts__map {
  display: block;
  margin: 0 auto 42px;
}

.contacts__button {
  display: block;
  width: 260px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .contacts__table-body {
    display: flex;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__value {
    padding-right: 50px;
    font-size: 17px;
  }

  .contacts__contact {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {

  .contacts {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 170px;
    padding-left: 175px;
  }

  .contacts__map {
    position: absolute;
    left: 300px;
    top: -402px;
  }

  .contacts__map-container {
    width: 1050px;
    margin: 0 auto;
    position: relative;
  }

  .contacts__table-body {
    width: 350px;
    flex-direction: column;
  }

  .contacts__button {
    position: relative;
    right: 395px;
  }
}
