.featured {
  margin: 32px 0;
  outline: 1px solid gray;
}

.featured__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 10px;
}

.featured__item-info {
  display: flex;
  flex-direction: column;
}

.featured__order-info {
  display: flex;
  flex-direction: column;
}

.featured__item-type {
  display: inline-block;
  text-transform: uppercase;
  color: $cyan;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 25px;
}

.featured__description {
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px;
}

.featured__details {
  border-collapse: collapse;
  margin-bottom: 30px;
}

.featured__feature {
  padding: 10px 0;
  border-bottom: 1px solid $gray;
  font-size: 15px;
  line-height: 20px;
}

.featured__photo {
  margin-bottom: 26px;
}

.featured__value {
  font-size: 15px;
  border-bottom: 1px solid $gray;
  line-height: 20px;
}

.featured__price {
  width: 100%;
  margin: 0;
  margin-bottom: 26px;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .featured {

    flex-direction: row;
    flex-wrap: wrap;
  }

  .featured__title {
    display: inline-block;
    width: 500px;
    font-size: 43px;
    line-height: 50px;
  }

  .featured__item-type {
    width: 125px;
    text-align: center;
    line-height: 17px;
  }

  .featured__item-info {
    position: relative;
    box-sizing: border-box;
    width: 668px;
    padding-right: 378px;
    min-height: 410px;
  }

  .featured__description {
    font-size: 17px;
    line-height: 30px;
  }

  .featured__details {
    margin-bottom: 57px;
  }

  .featured__feature {
    width: 90px;
    margin: 0;
  }


  .featured__photo {
    position: absolute;
    right: 0;
    top: 0;
    width: 334px;
    height: auto;
  }
}

@media (min-width: $desktop-width) {
  .featured {
    position: relative;
    padding-left: 175px;
    padding-top: 130px;
  }

  .featured__item-type {
    position: absolute;
    left: 0;
    top: 130px;
  }
}
