body {
  font-family: 'Open Sans';
  font-weight: 400;
}

.container {
  padding: 0 30px;
  width: 260px;
  margin: 0 auto;
}


.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}


@media (min-width: $tablet-width) {

  .container {
    width: 668px;
    padding: 0 50px;
  }

  .nav {
    display: flex;
  }

  .nav__logo {
    width: 300px;
  }

  .nav__user-nav {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {

  .container {
    width: 1050px;
    padding: 0 50px;
  }
}
