.order-form {
  padding: 30px 0 56px;
  position: relative;
}

.order-form__wrapper {
  box-sizing: border-box;
  width: auto;
  margin: 15px auto;
  padding: 0 30px;
}

.order-form__wrapper:last-of-type {
  padding-bottom: 0;
}

.order-form__wrapper--gray {
  background-color: transparent;
}


.order-form__description {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px;
}



.order-form__fieldset {
  padding: 25px 0;
  margin: 0;
  border-color: $cyan;
  border-left: none;
  border-bottom: none;
  border-right: none;
}


.order-form__field {
  margin-bottom: 20px;
}

.order-form__field:last-of-type {
  margin-bottom: 0;
}

.order-form__legend {
  padding-right: 10px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $cyan;
  text-transform: uppercase;
}

.order-form__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.order-form__text-input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: $light-gray;
}

.order-form__phone-input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: $light-gray;
}

.order-form__email-input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: $light-gray;
}


.order-form__text-input {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 0;
  border: none;
  border-bottom: 2px solid #000;
}

.order-form__phone-input {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 0;
  margin-top: -22px;
  border: none;
  border-bottom: 2px solid #000;
}

.order-form__email-input {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 0;
  margin-top: -22px;
  border: none;
  border-bottom: 2px solid #000;
}

.order-form__add-info {
  box-sizing: border-box;
  width: 100%;
  resize: vertical;
  padding: 15px;
  border: 2px solid black;
}

.order-form__field--name {
  flex-direction: column;
  display: flex;

}

.order-form__disclaimer {
  position: absolute;
  width: 260px;
  left: 30px;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  margin-top: -20px;
}

.order-form__button {
  display: block;
  width: 260px;
  margin: 50px auto 0;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .order-form__fieldset {
    position: relative;
    padding-left: 167px;
    max-width: 480px;
    margin: 0 auto;
  }

  .order-form__legend {
    position: absolute;
    left: 0;
    top: 30px;
  }

  .order-form__description {
    font-size: 17px;
    line-height: 30px;
  }

  .order-form__wrapper {
    box-sizing: border-box;
    width: auto;
    padding: 35px 50px;
    margin: 0 auto;
  }

  .order-form__text-input {

    padding: 20px 10px;

  }

  .order-form__phone-input {

    padding: 20px 10px;

  }

  .order-form__email-input {

    padding: 20px 10px;

  }

  .order-form__label {
    font-size: 19px;
  }

  .order-form__phone-input {
    background-color: $gray;
  }

  .order-form__email-input {
    background-color: $gray;
  }

  .order-form__text-input::placeholder {
    font-size: 19px;
  }

  .order-form__phone-input::placeholder {
    font-size: 19px;
  }

  .order-form__email-input::placeholder {
    font-size: 19px;
  }

  .order-form__wrapper--gray {
    background-color: $gray;
  }

  .order-form__fieldset {
    border: none;
  }

  .order-form__field--name {
    flex-direction: row;

    .order-form__label {
      padding: 19px 20px 0 0;
    }
  }

  .order-form__fieldset--color {

    .order-form__fieldset-wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .order-form__field {
      width: 228px;
    }
  }


  .order-form__button {
    padding-left: 30px;
    padding-right: 30px;
    width: 230px;
    margin: 0 auto;
    position: relative;
    right: 210px;
  }

  .order-form__disclaimer {
    position: relative;
    font-size: 17px;
    margin: 0 auto;
    line-height: 30px;
    width: 334px;
    text-align: center;
    top: 40px;
    left: 175px;
  }
}

@media (min-width: $desktop-width) {
  .order-form__wrapper {
    width: auto;
  }

  .order-form__fieldset {
    max-width: 883px;
  }

  .order-form__button {
    right: 242px;
  }

  .order-form__disclaimer {
    left: 375px;
  }
}
