.production {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 28px 0 52px;
  outline: 1px solid gray;
}

.production__video {}

.production__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.production__description {
  font-size: 13px;
  line-height: 24px;
}

.production__button {
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .production__video {
    order: -1;
  }

  .production__video {}

  .production__title {
    font-size: 20px;
  }

  .production__description {
    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .production__video {
    position: absolute;
  }

  .production__title {
    padding-left: 700px;
    width: 350px;
  }

  .production__description {
    width: 350px;
    padding-left: 700px;
  }

  .production__button {
    width: 300px;
    margin-left: 700px;
  }
}
