.user-nav {
  margin: 0;
  padding: 5px 0;
  list-style: none;
}

.user-nav__item {
  font-size: 17px;
  line-height: 24px;
}

.user-nav__link {}

@media (min-width: $tablet-width) {

  .user-nav__link {
    text-align: right;
  }

  .user-nav {
    width: 263px;
  }
}
