.user-nav {
  position: relative;
  margin: 0;
  padding: 5px 0;
  list-style: none;
}

.user-nav__link {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    margin: auto 0;
    left: 15px;
    opacity: 0.3;
    top: 0;
    bottom: 0;
    width: 22px;
    height: 19px;
    background-color: transparent;
    background-image: url(../../img/icon-cart.svg);
    background-repeat: no-repeat;
  }
}

.user-nav__item {
  font-size: 17px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {

  .user-nav {
    width: 263px;
    padding: 0;
  }

  .user-nav__item {
    height: 100%;
  }

  .user-nav__link {
    text-align: right;
    box-sizing: border-box;
    height: 100%;
    padding-top: 35px;
    padding-left: 50px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      margin: auto 0;
      left: 30px;
      opacity: 0.3;
      top: 0;
      bottom: 0;
      width: 22px;
      height: 19px;
      background-color: transparent;
      background-image: url(../../img/icon-cart.svg);
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-nav__link {
    padding: 20px 0;
  }
}
